@font-face {
    font-family: 'Anabata-Bold';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CircularStd-Bold.otf);
  }@font-face {
    font-family: 'Anabata-Light';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CircularStd-Light.otf);
  }


.title-1{
    font-family: 'Anabata-Bold';
    font-size:30px;
    margin-top:50px;
    margin-bottom:25px;
}







.btn-title-filter{
  color: #1a1a1a;
  text-decoration: none;
  font-family: Anabata-Light;
  font-size: 1rem;
  margin: 0 20px 0 0;
  text-decoration: none;
  cursor: default;
}
.btn-title-filter:hover{
  color: #1a1a1a;
}
.btn-filter{
  color: #1a1a1a;
  text-decoration: none;
  font-family: Anabata-Bold;
  font-size: 1rem;
  margin: 0 20px 0 0;
}
.btn-filter:hover{
  color: #f07f3b;
}
.filter-items{
  padding: 0.25rem 1rem;
  color: #1a1a1a;
  font-family: Anabata-Light;
  font-size: 1rem;
  margin: 0 20px 0 0;
  text-decoration: none;
}
.filter-items:hover{
  color: #f07f3b !important;
}
.dropdown-menu{
  min-width: 15rem !important;
}
@media (min-width: 992px) {
  .mobile-filter{
    display: none;
  }
}








.image-logo{
  width: 147px;
}
.nav-text{
  padding: 10px !important;
  font-size: 15px !important;
  letter-spacing:2px !important;
  font-weight:500 !important;
  font-family: Anabata-Light !important;
  color: #fff !important;
  text-decoration: none;
}
.btn-color{
  font-size: 15px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-family: Anabata-Light;
  color: white !important;
  width: 57px;
  background-color: #ffffff2e
}
.mobile-navbar{
  display: none
}
@media (max-width: 991px) {
  .mobile-navbar{
    display: flex
  }
  .desktop-navbar{
    display:none
  }
  .image-logo{
    width:112px
  }
}
@media (max-width: 575px) {
  .image-logo{
    width:96px
  }
  .btn-color{
    width: 47px;
    font-size: 10px;
  }
}
