@font-face {
    font-family: 'CircularStd-Bold';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CircularStd-Bold.otf);
  }@font-face {
    font-family: 'CircularStd-Light';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CircularStd-Light.otf);
  }
  .lang{
      width: 100px;
      display: flex;
      justify-content: end;
      margin: -52px  0 0 auto;
  }
  @media (max-width: 1008px) {
    .lang{
      margin: -48px 50px 0 auto;
    }
    .u-header .u-menu-1{
      margin-top: 20px;
      margin-right: 0px;
    }
  }
  @media (max-width: 991px) {
    .lang{
      margin: -51px 43px 0 auto;
    }
  }
  
  
  /* radio settings ðŸ‘‡ */
  

    .theme-popup {
      color: #1a1a1a;
      font-family: CircularStd-Light;
      position: relative;
      user-select: none;
    }
    
    .theme-popup__button {
      font-size: 14px;
      line-height: 2em;
      background-color: #ffffff;
      padding: 0 .5em;
      display: inline-flex;
      align-items: center;
      column-gap: 0.3125em;
      border-radius: 0.3125em;
      border: none;
      color: inherit;
      font-family: CircularStd-Light;
      outline: none;
    }
    .select-lang{
      background-color: #ffffff;
      border: none;
      padding: 0 .5em;
    }

  

 .nav-title{
  font-family: CircularStd-Light !important;
  color: rgb(0, 0, 0) !important;
  letter-spacing: 1px !important;
 }