@font-face {
  font-family: 'PlusJakartaSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PlusJakartaSans-Bold.ttf);
}@font-face {
  font-family: 'PlusJakartaSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}
  .lang{
      width: 100px;
      display: flex;
      justify-content: end;
      margin: -52px  0 0 auto;
  }
  @media (max-width: 1008px) {
    .lang{
      margin: -48px 50px 0 auto;
    }
    .u-header .u-menu-1{
      margin-top: 20px;
      margin-right: 0px;
    }
  }
  @media (max-width: 991px) {
    .lang{
      margin: -51px 43px 0 auto;
    }
  }
  
  
  /* radio settings ðŸ‘‡ */
  

    .theme-popup {
      color: #1a1a1a;
      font-family: PlusJakartaSans-Regular;
      position: relative;
      user-select: none;
    }
    
    .theme-popup__button {
      font-size: 14px;
      line-height: 2em;
      background-color: #ffffff;
      padding: 0 .5em;
      display: inline-flex;
      align-items: center;
      column-gap: 0.3125em;
      border-radius: 0.3125em;
      border: none;
      color: inherit;
      font-family: PlusJakartaSans-Regular;
      outline: none;
    }
    .select-lang{
      background-color: #ffffff;
      border: none;
      padding: 0 .5em;
    }

  

 .nav-title{
  font-family: PlusJakartaSans-Regular !important;
  color: rgb(0, 0, 0) !important;
  letter-spacing: 1px !important;
 }