 .u-section-1 {
  min-height: 72px;
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 50%;
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 68px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1265px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1061px;
}

.u-section-2 .u-container-layout-1 {
  padding: 1px 0;
}

.u-section-2 .u-text-1 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 0 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 10px 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 10px 20px 0 0;
}

.u-section-2 .u-text-4 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 10px 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 10px 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 10px 20px 0 0;
}

.u-section-2 .u-text-7 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 10px 20px 0 0;
}

.u-section-2 .u-text-8 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 10px 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 10px 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1061px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 25px 25px;
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  min-height: 1048px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-11 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-13 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-14 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-15 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-4 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-16 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-17 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-5 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-18 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-19 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-6 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-21 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-7 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-22 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-23 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-8 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-24 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-25 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-9 {
  height: 248px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-26 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-2 .u-text-27 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  margin: 40px 0 0 1033px;
  padding: 8px 27px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.8572em;
  vertical-align: 0px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  letter-spacing: normal;
  font-family: "Open Sans", sans-serif;
  margin: -42px auto 60px 882px;
  padding: 8px 28px;
}

.u-section-2 .u-icon-2 {
  font-size: 0.8572em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1126px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 875px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 875px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 863px;
  }

  .u-section-2 .u-image-1 {
    height: 204px;
  }

  .u-section-2 .u-image-2 {
    height: 204px;
  }

  .u-section-2 .u-image-3 {
    height: 204px;
  }

  .u-section-2 .u-image-4 {
    height: 204px;
  }

  .u-section-2 .u-image-5 {
    height: 204px;
  }

  .u-section-2 .u-image-6 {
    height: 204px;
  }

  .u-section-2 .u-image-7 {
    height: 204px;
  }

  .u-section-2 .u-image-8 {
    height: 204px;
  }

  .u-section-2 .u-image-9 {
    height: 204px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 9px;
    margin-left: 833px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 51px;
    margin-left: 682px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1628px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1517px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1517px;
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }

  .u-section-2 .u-image-1 {
    height: 191px;
  }

  .u-section-2 .u-image-2 {
    height: 191px;
  }

  .u-section-2 .u-image-3 {
    height: 191px;
  }

  .u-section-2 .u-image-4 {
    height: 191px;
  }

  .u-section-2 .u-image-5 {
    height: 191px;
  }

  .u-section-2 .u-image-6 {
    height: 191px;
  }

  .u-section-2 .u-image-7 {
    height: 191px;
  }

  .u-section-2 .u-image-8 {
    height: 191px;
  }

  .u-section-2 .u-image-9 {
    height: 191px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 1px;
    margin-right: auto;
    margin-left: 382px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 45px;
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3608px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-8 {
    height: 287px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-image-9 {
    height: 287px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.875rem;
    font-family: PlusJakartaSans-Regular;
    margin-top: 25px;
    margin-left: 283px;
  }

  .u-section-2 .u-btn-2 {
    font-size: 0.875rem;
    letter-spacing: 0px;
    font-family: PlusJakartaSans-Regular;
    margin-top: -38px;
    margin-bottom: 53px;
    margin-left: 159px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2622px;
  }

  .u-section-2 .u-image-1 {
    height: 181px;
  }

  .u-section-2 .u-image-2 {
    height: 181px;
  }

  .u-section-2 .u-image-3 {
    height: 181px;
  }

  .u-section-2 .u-image-4 {
    height: 181px;
  }

  .u-section-2 .u-image-5 {
    height: 181px;
  }

  .u-section-2 .u-image-6 {
    height: 181px;
  }

  .u-section-2 .u-image-7 {
    height: 181px;
  }

  .u-section-2 .u-image-8 {
    height: 181px;
  }

  .u-section-2 .u-image-9 {
    height: 181px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
    margin-left: 183px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 39px;
    margin-left: 59px;
  }
} .u-section-3 {
  background-image: linear-gradient(#1a1a1a, #1a1a1a);
}

.u-section-3 .u-sheet-1 {
  min-height: 235px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-3 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

.u-section-3 .u-input-1 {
  font-family: PlusJakartaSans-Bold;
}

.u-section-3 .u-input-2 {
  font-family: PlusJakartaSans-Bold;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-family: PlusJakartaSans-Bold;
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }
}
@font-face {
  font-family: 'PlusJakartaSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PlusJakartaSans-Bold.ttf);
}@font-face {
  font-family: 'PlusJakartaSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}