 .u-section-1 {
  min-height: 72px;
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 50%;
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 68px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 822px;
}

.u-section-2 .u-gallery-1 {
  height: 782px;
  grid-gap: 10px 10px;
  margin-top: 0;
  margin-bottom: 40px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-gallery-1 {
    height: 445px;
  }

  .u-section-2 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-4 {
    padding: 30px;
  }

  .u-section-2 .u-over-slide-5 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-2 .u-gallery-1 {
    margin-bottom: -29px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-2 .u-gallery-1 {
    height: 428px;
    margin-bottom: -158px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1880px;
}

.u-section-3 .u-text-1 {
  font-family: PlusJakartaSans-Bold;
  font-size: 1.875rem;
  margin: 0 16px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1871px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-3 .u-text-2 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-3 .u-image-1 {
  height: 340px;
  margin: 28px 60px 0 0;
}

.u-section-3 .u-text-3 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-3 .u-image-2 {
  height: 389px;
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1.125rem;
  margin: 28px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1871px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  height: 162px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 7px 50px 0 0;
}

.u-section-3 .u-text-6 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 28px 10px 0 0;
}

.u-section-3 .u-text-7 {
  font-family: PlusJakartaSans-Bold;
  font-size: 1.125rem;
  margin: 7px 10px 0 0;
}

.u-section-3 .u-text-8 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 19px 10px 0 0;
}

.u-section-3 .u-text-9 {
  font-family: PlusJakartaSans-Bold;
  font-size: 1.125rem;
  margin: 7px 10px 0 0;
}

.u-section-3 .u-text-10 {
  font-family: PlusJakartaSans-Regular;
  font-size: 1rem;
  margin: 19px 10px 0 0;
}

.u-section-3 .u-text-11 {
  font-family: PlusJakartaSans-Bold;
  font-size: 1.125rem;
  margin: 8px 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1942px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1933px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-image-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 321px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1933px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 134px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 52px;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2116px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 2108px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 25px;
  }

  .u-section-3 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 246px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 2108px;
  }

  .u-section-3 .u-image-3 {
    height: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2568px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -226px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: -226px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1903px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 247px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    height: 309px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 21px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 15px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3000px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -103px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: -103px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-image-1 {
    height: 134px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 154px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-3 .u-image-3 {
    height: 195px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 30px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 81px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  margin: 40px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-bottom: -20px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 543px;
}

.u-section-5 .u-text-1 {
  font-family: PlusJakartaSans-Bold;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 10px 799px 0 0;
}

.u-section-5 .u-blog-1 {
  margin-top: 31px;
  margin-bottom: 81px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 369px;
  grid-auto-columns: calc(25% - 18.75px);
  grid-gap: 25px 25px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 29px;
}

.u-section-5 .u-image-1 {
  height: 252px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-5 .u-text-3 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 29px;
}

.u-section-5 .u-image-2 {
  height: 252px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-5 .u-text-5 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 29px;
}

.u-section-5 .u-image-3 {
  height: 252px;
  background-image: url("");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-5 .u-text-7 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 29px;
}

.u-section-5 .u-image-4 {
  height: 252px;
  background-image: url("");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-5 .u-text-9 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 0 29px;
}

.u-section-5 .u-image-5 {
  height: 252px;
  background-image: url("");
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-10 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  margin: 10px 0 0;
}

.u-section-5 .u-text-11 {
  font-family: PlusJakartaSans-Regular;
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 13px;
  width: 40px;
  height: 40px;
  top: 111px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 108px;
  right: 12px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 599px;
  }

  .u-section-5 .u-blog-1 {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 16.6667px);
    grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 379px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.5px);
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-right: 199px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
} .u-section-6 {
  background-image: linear-gradient(#1a1a1a, #1a1a1a);
}

.u-section-6 .u-sheet-1 {
  min-height: 192px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: PlusJakartaSans-Bold;
  font-size: 1.25rem;
  margin: 40px auto 0;
}

.u-section-6 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 26px auto 40px;
}

.u-section-6 .u-input-1 {
  font-family: PlusJakartaSans-Bold;
}

.u-section-6 .u-input-2 {
  font-family: PlusJakartaSans-Bold;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-family: PlusJakartaSans-Bold;
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-form-1 {
    width: 340px;
  }
}
@font-face {
  font-family: 'PlusJakartaSans-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PlusJakartaSans-Bold.ttf);
}@font-face {
  font-family: 'PlusJakartaSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}